<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",

      });
    });
  </script>
<% end %>

<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
  <% @themes.each do |theme|%>
  <li>
    <%= link_to theme.name , home_add_to_theme_path(:id =>theme.id) %>
  </li>
  <% end %>
</ul>
